<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <script src="{{ site.baseurl }}/js/scramble.js"></script>

</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Johannes James
              </h1>
              <p>
                <email>
                  <font id="email" style="display:inline;">.@mwujeadumesj</font>
                  <script>
                    emailScramble = new scrambledString(document.getElementById('email'),
                      'emailScramble', '.@mwujeadumesj',
                      [10, 7, 4, 9, 13, 0, 11, 3, 12, 8, 1, 5, 6, 2]);
                  </script>
                </email>
              </p>

              <p>I recently defended my Ph.D. on high step-up power conversion, wireless transmission, and waveform generation for piezoelectric flapping wing insect robots in the <a href="hhttp://depts.washington.edu/airlab/index.html">Autonomous Insect Robotics Lab</a> advised by Sawyer Fuller at the University of Washington.
                My work has been featured in <a href="https://www.economist.com/science-and-technology/2018/05/17/the-worlds-lightest-wireless-flying-machine-lifts-off" target="_blank" rel="noreferrer noopener">The Economist</a>, 
                <a href="https://www.wired.com/story/this-insect-sized-flying-robot-is-powered-by-lasers" target="_blank" rel="noreferrer noopener">Wired</a>,
                <a href="https://spectrum.ieee.org/automaton/robotics/robotics-hardware/laser-powered-robot-insect-achieves-lift-off" target="_blank" rel="noreferrer noopener">IEEE Spectrum</a>,
                <a href="https://www.cnbc.com/2018/11/02/about-the-weight-of-a-toothpick-first-wireless-robo-insect-takes-off.html" target="_blank" rel="noreferrer noopener">CNBC</a>, 
                <a href="https://techxplore.com/news/2020-01-robofly-insect-sized-robot-drift-surfaces.html" target="_blank" rel="noreferrer noopener">TechXplore</a>, 
                <a href="https://www.dailymail.co.uk/sciencetech/article-7943801/Scientists-design-penny-sized-RoboFly-walk-fly-drift-water-surfaces.html" target="_blank" rel="noreferrer noopener">Daily Mail</a>, 
                and <a href="https://www.youtube.com/watch?v=XZKAGEV7bw0&amp;feature=youtu.be" target="_blank" rel="noreferrer noopener">Seeker</a>.

              </p>



              <p style="text-align:center">
<!--                 <a href="https://github.com/JohannesMJames">GitHub</a> &nbsp;/&nbsp; -->
                <a href="https://scholar.google.com/citations?user=5raO77cAAAAJ&hl=en">Google Scholar</a> &nbsp;/&nbsp;
<!--                <a href="https://x.com/rosemhendrix"> Twitter </a>-->
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%;border-radius:50%;object-fit:cover;" alt="profile photo" src="images/jmjames_avatar.jpg">
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
              <p>
                 I am most interested in micro-robotics and alternative energy, but am excited for a wide range of opportunities. Here are some highlighted publications - please see my <a href="https://scholar.google.com/citations?user=5raO77cAAAAJ&hl=en">Google Scholar</a> for my complete works.
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          {% assign highlighted_post = site.posts | where: "highlight", true | first %}
          {% if highlighted_post %}
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Highlighted Work</h2>
            </td>
          </tr>
          <tr>
            <td style="padding:2.5%;width:auto;vertical-align:middle;min-width:120px">
              <img src="/tn{{ highlighted_post.image }}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{ highlighted_post.title }}</h3>
              <br>
              {{ highlighted_post.authors }}
              <br>
              <em>{{ highlighted_post.venue }}</em>, {{ highlighted_post.date | date: "%Y" }}
              <br>
              {% if highlighted_post.paper %}
              <a href="{{ highlighted_post.paper }}">paper</a> /
              {% endif %}
              {% if highlighted_post.video %}
              <a href="{{ highlighted_post.video }}">video</a> /
              {% endif %}
              {% if highlighted_post.code %}
              <a href="{{ highlighted_post.code }}">code</a> /
              {% endif %}
              {% if highlighted_post.poster %}
              <a href="{{ highlighted_post.poster }}">poster</a> /
              {% endif %}
              {% if highlighted_post.slides %}
              <a href="{{ highlighted_post.slides }}">slides</a> /
              {% endif %}
              {% if highlighted_post.website %}
              <a href="{{ highlighted_post.website }}">website</a> /
              {% endif %}
              {% if highlighted_post.youtube %}
              <a href="{{ highlighted_post.youtube }}">youtube</a> /
              {% endif %}
              <p></p>
              {{ highlighted_post.excerpt }}
            </td>
          </tr>
          {% endif %}

          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>All Publications</h2>
            </td>
          </tr>
          <tr>

          {% for post in site.posts %}
          {% unless post.highlight %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:auto;vertical-align:middle;min-width:120px">
              <img src="/tn{{ post.image }}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:auto;vertical-align:middle">
              <h3>{{ post.title }}</h3>
              <br>
              {{ post.authors }}
              <br>
              <em>{{ post.venue }}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.paper %}
              <a href="{{ post.paper }}">paper</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{ post.video }}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{ post.code }}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{ post.poster }}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{ post.slides }}">slides</a> /
              {% endif %}
              {% if post.website %}
              <a href="{{ post.website }}">website</a> /
              {% endif %}
              {% if post.youtube %}
              <a href="{{ post.youtube }}">youtube</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endunless %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>


        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Original design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron</a>, modified by <a style="font-size:small;" href="https://leonidk.com/">Leonid Keselman</a>, and email scrambler by <a style="font-size:small;" href="https://jeffdonahue.com/">Jeff Donohue</a>.
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

